<%- include('../layout/header.ejs') %>


<%- include('../components/component.ejs') %>

<section>
    <div class="container">
        <h2>Welcome <%= n %> </h2>
        <h2>Your e-mail <%= e %></h2>
        <p class="  mt-3">Web Stories are a new content format on the web, so we’re all learning together what
            works and what doesn’t when it comes to creating them. To help web creators develop a sense of what makes a
            story great, we’re kicking off a series to share tips and ideas from high-quality Web Stories we’ve
            discovered in the wild. Watch the above episode of our YouTube series “Storytime” for this first batch of
            stories, read it as Web Story on your phone, or scroll on if you prefer reading Web Stories are a new
            content format on the web, so we’re all learning together what works <span style="color:#60748b">and what
            doesn’t when it comes to creating them. To help web creators develop a sense of what makes a story
            great, we’re kicking off a series to share tips and ideas from high-quality Web Stories we’ve discovered
            in the wild. Watch the above episode of our YouTube series “Storytime” for this first batch of
            stories,</span> read it as Web Story on your phone, or scroll on if you prefer reading
            Web Stories are a new content format on the web</p>
    </div>
</section>
<br>
<%- include('../layout/footer.ejs') %>