<%- include('../../layout/header.ejs') %>

<div class="container mt-4">
    <div class="row">
        <h3>Name <%= c.name %> </h3><hr>
        <h6>Phone <%= c.phone %> </h6>
        <h6>Email <%= c.email %> </h6>
        <h3>Message <%= c.message %> </h3><hr>
    </div>
</div>

<%- include('../../layout/footer.ejs') %>